.header{
    width: 100%;
    height: 50px;
    top: 0;
    display: flex;
    position: fixed;
    z-index: 1;
}

.header .left-section{
    display: flex;
    align-items: center;
    width: 20%;
    margin-left: 50px;
    justify-content: space-between;
}

.logo{
    height: 50px;
}

a{
    text-decoration: none;
}

.right-section{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 80%;
}

.search{
    margin-right: 40px;
}

.avatar{
    height: 30px;
    width: 30px;
    margin-right: 50px;
}